<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生页面公共模块</title>
</head>
<body>
<!-- 头部导航栏 -->
<div class="header bg-light navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" th:fragment="header">
    <div class="space-unit" style="height: 100%;">
        <h4>在线考试云平台-学生端</h4>
    </div>
    <div style="height: 25px;width: 155px;">
        <script>
            document.writeln("<iframe name=\"weather_inc\" src=\"http:\/\/i.tianqi.com\/?c=code&id=26\" width=\"180\" height=\"25\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\" scrolling=\"no\"><\/iframe>");
        </script>
    </div>
    <div class="user-self">
        <div class="user">
            <img th:src="@{${session.user.head_pic}}">
            <span th:text="${session.user.name}">学生</span>
            <svg t="1642757085955" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 p-id="2469"
                 width="20" height="20">
                <path d="M787.2 380.8c-9.6-9.6-22.4-12.8-35.2-12.8l-480 3.2c-12.8 0-25.6 3.2-35.2 12.8-19.2 19.2-19.2 48 0 67.2l240 240c0 0 0 0 0 0 0 0 0 0 0 0 3.2 3.2 9.6 6.4 12.8 9.6 0 0 3.2 3.2 3.2 3.2 16 6.4 38.4 3.2 51.2-9.6l240-243.2C806.4 428.8 803.2 400 787.2 380.8z"
                      p-id="2470"></path>
            </svg>
            <div class="user-popup">
                <ul>
                    <li th:onclick="toPage([[@{/student/self.html}]])">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                        个人中心
                    </li>
                    <li th:onclick="toPage([[@{/user/logout}]])">
                        <svg t="1642790514332" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="7977"
                             width="20" height="20" fill="currentColor">
                            <path d="M662.016 247.6544a32 32 0 1 1 29.4912-56.832 390.4 390.4 0 1 1-359.0144 0 32 32 0 1 1 29.4912 56.832 326.4 326.4 0 1 0 300.032 0zM544 384a32 32 0 1 1-64 0v-256a32 32 0 1 1 64 0v256z"
                                  p-id="7978"></path>
                        </svg>
                        退出系统
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏 -->
<div class="content-left bg-light shadow" th:fragment="sidebar">
    <div class="user-block">
        <img class="head-img" th:src="@{${session.user.head_pic}}">
        <p class="user-name" th:text="${session.user.name}">学生</p>
    </div>
    <hr style="margin: 0;">
    <div class="user-navbar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <div th:class="${active=='smain1.html'?'nav-link active':'nav-link'}"
                     th:onclick="toPage([[@{/exam/current.html}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    当前考试
                </div>
            </li>
            <li class="nav-item">
                <div th:class="${active=='smain2.html'?'nav-link active':'nav-link'}"
                     th:onclick="toPage([[@{/exam/previous.html}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                        <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    历史考试
                </div>
            </li>
            <li class="nav-item">
                <div th:class="${active=='smain3.html'?'nav-link active':'nav-link'}"
                     th:onclick="toPage([[@{/student/self.html}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                    个人中心
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>