<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.RecordDao">

    <resultMap id="RecordResult" type="Record">
        <id column="id" property="id"/>
        <result column="exam_id" property="examId"/>
        <result column="stu_id" property="stuId"/>
        <result column="point" property="point"/>
        <result column="finish_time" property="finishTime"/>
        <result column="state" property="state"/>
        <result column="code" property="code"/>
        <association column="exam_id" property="exam" select="cn.edu.hstc.dao.ExamDao.selectExamById"
                     fetchType="eager"/>
        <association column="stu_id" property="student" select="cn.edu.hstc.dao.StudentDao.selectStudentById"
                     fetchType="eager"/>
    </resultMap>

    <select id="selectRecordById" parameterType="int" resultMap="RecordResult">
        select *
        from tb_record
        where id = #{id}
    </select>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        select * from tb_record
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="examId != null">and exam_id = #{examId}</if>
            <if test="stuId != null">and stu_id = #{stuId}</if>
            <if test="point != null">and point = #{point}</if>
            <if test="finishTime != null">and finish_time = #{finishTime}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <insert id="insertRecord" parameterType="Record">
        insert into tb_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="examId != null">exam_id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="point != null">point,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="state != null and state != ''">state,</if>
            <if test="code != null and code != ''">code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="examId != null">#{examId},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="point != null">#{point},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="state != null and state != ''">#{state},</if>
            <if test="code != null and code != ''">#{code},</if>
        </trim>
    </insert>

    <select id="selectStudentRecordList" parameterType="Record" resultMap="RecordResult">
        select r.* from tb_record r,tb_exam e,tb_paper p,tb_course c where r.exam_id=e.id and e.paper_id=p.id and
        p.course_id=c.id
        <if test="id != null">and r.id = #{id}</if>
        <if test="examId != null">and r.exam_id = #{examId}</if>
        <if test="stuId != null">and r.stu_id = #{stuId}</if>
        <if test="point != null">and r.point = #{point}</if>
        <if test="finishTime != null">and r.finish_time = #{finishTime}</if>
        <if test="state != null and state != ''">and r.state = #{state}</if>
        <if test="code != null and code != ''">and r.code = #{code}</if>
        <if test="searchValue != null and searchValue != ''">
            and (p.name like "%${searchValue}%" or c.name like "%${searchValue}%")
        </if>
    </select>

</mapper>