<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.StudentDao">

    <resultMap id="StudentResult" type="Student">
        <id column="id" property="id"/>
        <result column="stu_num" property="stuNum"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="head_pic" property="head_pic"/>
        <result column="code" property="code"/>
        <result column="class_id" property="classId"/>
        <association column="class_id" property="classes" select="cn.edu.hstc.dao.ClassesDao.selectClassById"
                     fetchType="eager"/>
    </resultMap>

    <select id="selectStudentById" parameterType="int" resultMap="StudentResult">
        select *
        from tb_student
        where id = #{id}
    </select>

    <select id="findStudent" parameterType="String" resultMap="StudentResult">
        select *
        from tb_student
        where stu_num = #{stuNum}
          and password = #{password}
    </select>

    <select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        select s.* from tb_student s,tb_class c where s.class_id = c.id
        <if test="id != null">and id = #{id}</if>
        <if test="stuNum != null and stuNum != ''">and stu_num = #{stuNum}</if>
        <if test="name != null and name != ''">and name = #{name}</if>
        <if test="password != null and password != ''">and password = #{password},</if>
        <if test="gender != null and gender != ''">and gender = #{gender},</if>
        <if test="phone != null and phone != ''">and phone = #{phone},</if>
        <if test="head_pic != null and head_pic != ''">and head_pic = #{head_pic},</if>
        <if test="code != null and code != ''">and code = #{code},</if>
        <if test="classId != null">and class_id = #{classId},</if>
        <if test="searchValue != null and searchValue != ''">
            and
            (s.stu_num like "%${searchValue}%" or
            s.name like "%${searchValue}%" or
            c.name like "%${searchValue}%")
        </if>
    </select>

    <insert id="insertStudent" parameterType="Student">
        insert into tb_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stuNum != null and stuNum != ''">stu_num,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="head_pic != null and head_pic != ''">head_pic,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="classId != null">class_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stuNum != null and stuNum != ''">#{stuNum},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="head_pic != null and head_pic != ''">#{head_pic},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="classId != null">#{classId},</if>
        </trim>
    </insert>

    <update id="updateStudent" parameterType="Student">
        update tb_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuNum != null and stuNum != ''">stu_num = #{stuNum},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="head_pic != null and head_pic != ''">head_pic = #{head_pic},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="classId != null">class_id = #{classId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudent" parameterType="int">
        delete
        from tb_student
        where id = #{id}
    </delete>

    <delete id="deleteStudentByCode" parameterType="String">
        delete
        from tb_student
        where code = #{code}
    </delete>

</mapper>